spring:
  application:
    name: dorm-cleaning-management

  profiles:
    active: dev

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

    properties:
      hibernate:
        jdbc:
          batch_size: 100 # 100개씩 묶어서 한 번에 보냄
          order_inserts: true # INSERT 문을 모아서 처리
          order_updates: true # UPDATE 문을 모아서 처리
        format_sql: true
        generate_statistics: true

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type: trace
