spring:
  application:
    name: dorm-cleaning-management

#  profiles:
#    active: dev

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: false

    properties:
      hibernate:
        jdbc:
          batch_size: 100 # 100개씩 묶어서 한 번에 보냄
        order_inserts: true # INSERT 문을 모아서 처리
        order_updates: true # UPDATE 문을 모아서 처리
        format_sql: false
        generate_statistics: false
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
       maximum-pool-size: 5
       minimum-idle: 2

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs

server:
  tomcat:
    threads:
      max: 10
    accept-count: 50
    max-connections: 100

app:
  host: ${APP_HOST}
  allowed-ip-prefix: ${ADMIN_ALLOWED_IP_PREFIX}