<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="py-4 bg-light mt-auto border-top">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Koreatech Dorm Management 2025</div>
            <div class="d-flex align-items-center">
                <p class="mb-0">Developed By</p>
                <p class="mb-0 ms-2">JSY</p>
                <span class="mx-2">&middot;</span>
                <p class="mb-0">SYG</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</footer>
</html>