<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment}"> </head>

<body>
<header th:replace="~{fragments/header :: headerFragment}"></header>

<main class="container-fluid px-4 mt-4">
    <!-- 메인 컨텐츠 -->
    <div class="container">
        <div class="page-header">
            <h2>생활관 관리</h2>
            <p>생활관을 추가/삭제/수정합니다.</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row g-4">
                    <div class="card p-4 mb-4" style="height: 500px !important;">
                        <h4 class="mb-3">현재 생활관 목록</h4>
                        <label for="dormCode" class="form-label">생활관 이름</label>
                        <!-- 호실 그리드 -->
                        <div class="floor-div col" id="dormDiv" style="overflow-x: hidden; overflow-y: auto; height: 400px !important;">
                            <div class="empty-state" id="emptyState" style="margin: 4rem"> 
                                <div class="loader"></div>
                                <p>로딩중...</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row g-4">
                    <!-- 생활관 추가 -->
                    <div class="col-md-6">
                        <div class="card p-4 h-100">
                            <h4 class="mb-3">생활관 추가</h4>
                            <form id="createDormForm">
                                <div class="mb-3">
                                    <label for="dormCode" class="form-label">생활관 이름</label>
                                    <input type="text" class="form-control" id="dormCode" required>
                                </div>
                                <div class="form-bottom mt-auto">
                                    <button type="submit" class="btn btn-primary">생활관 추가하기</button>
                                    <p id="dormStatus" class="status-msg text-muted">생활관을 추가하려면 세부 정보를 입력하십시오.</p>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- 생활관 삭제 -->
                    <div class="col-md-6">
                        <div class="card p-4 h-100">
                            <h4 class="mb-3">생활관 삭제</h4>
                            <form id="deleteDormForm">
                                <div class="mb-3">
                                    <label for="deleteDormCode" class="form-label">삭제할 생활관 이름</label>
                                    <input type="text" class="form-control" id="deleteDormCode" required>
                                </div>
                                <div class="form-bottom mt-auto">
                                    <button type="submit" class="btn btn-primary">생활관 삭제하기</button>
                                    <p id="deleteDormStatus" class="status-msg text-muted">생활관을 삭제하려면 세부 정보를 입력하십시오.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const dormDiv = document.getElementById('dormDiv');

    // 생활관 목록 불러오기
    async function loadDormList() {
        dormDiv.innerHTML = `<div class="empty-state" id="emptyState" style="margin: 4rem"> 
                                <div class="loader"></div>
                                <p>로딩중...</p> 
                            </div>`;

        try {
            dormDiv.style.marginTop = "1rem";

            const res = await axios.get('/admin/api/dorms'); // 전체 생활관 조회 API 필요
            let dorms = res.data;

            dormDiv.innerHTML = ``;

            const table = document.createElement('table');
            table.classList.add('room-table');

            // 코드 기준으로 오름차순 정렬
            dorms.sort((a, b) => a.dormCode.localeCompare(b.dormCode));

            const sepDorms = {};
            
            dorms.forEach(dorm => {
                const sepDorm = Number(dorm.dormCode.slice(0,dorm.dormCode.length-2));
                if (!sepDorms[sepDorm]) sepDorms[sepDorm] = [];
                sepDorms[sepDorm].push(dorm);
            });

            Object.keys(sepDorms).sort().forEach(sepDorm => {
                let row = document.createElement('tr');
                sepDorms[sepDorm].forEach((dorm, index) => {

                    // td 생성
                    const td = document.createElement('td');
                    td.classList.add('room-cell');
                    td.innerHTML = `
                        <div class="room-number fw-bold">${dorm.dormCode}</div>
                    `;

                    row.appendChild(td);

                    // 10개마다 줄바꿈
                    if ((index + 1) % 4 === 0) {
                        table.appendChild(row);
                        row = document.createElement('tr');
                    }
                });

                // 남은 셀 추가
                if (row.children.length > 0) {
                    table.appendChild(row);
                }

                //구분선
                const seperator = document.createElement('tr');
                const sepCell = document.createElement('td');
                sepCell.colSpan = 4;
                sepCell.classList.add('floor-separator');
                seperator.appendChild(sepCell);
                table.appendChild(seperator);
            });
            dormDiv.appendChild(table);

        } catch (error) {
            const msg = error?.response?.data?.message;
            tbody.innerHTML = `
                <tr><td colspan="2" class="text-danger">⚠️ ${msg}</td></tr>
            `;
        }
    }

    // 페이지 로드시 목록 불러오기
    loadDormList();

    // 생활관 추가
    document.getElementById('createDormForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const dormCode = document.getElementById('dormCode').value;
        const statusEl = document.getElementById('dormStatus');

        try {
            const res = await axios.post('/admin/api/dorms/create', { 
                dormCode:dormCode
            });
            statusEl.textContent = `✅ ${dormCode}동이 추가되었습니다!`;
            statusEl.style.color = 'blue';
            e.target.reset();
            loadDormList();
        } catch (error) {
            const msg = error?.response?.data?.message;
            statusEl.textContent = `⚠️ ${msg}`;
            statusEl.style.color = 'red';
        }
    });

    // 생활관 삭제
    document.getElementById('deleteDormForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const dormCode = document.getElementById('deleteDormCode').value;
        const statusEl = document.getElementById('deleteDormStatus');

        try {
            await axios.delete(`/admin/api/dorms/${dormCode}`);
            statusEl.textContent = `✅ ${dormCode}동이 삭제되었습니다.`;
            statusEl.style.color = 'blue';
            e.target.reset();
            loadDormList();
        } catch (error) {
            const msg = error?.response?.data?.message;
            statusEl.textContent = `⚠️ ${msg}`;
            statusEl.style.color = 'red';
        }
    });

</script>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
